.button {
  padding: 8px 30px;
  font-size: 1.8rem;
  border-radius: 25px;
  box-shadow: 1px 2px 3px 0px rgba(0, 0, 0, 0.15);
  cursor: pointer;
  transition: 0.1s;
  white-space: nowrap;
  display: flex;
  align-items: center;
  color: var(--black);

  &.contained {
    background-color: var(--primary);
    color: var(--white);
    border: 2px solid var(--primary);
  }

  &.outlined {
    background-color: var(--white);
    border: 2px solid var(--primary);
  }

  &.small {
    height: 35px;
    padding: 0 20px;
    font-size: 1.6rem;
  }

  &:hover,
  &:focus {
    transform: scale(0.98);
    box-shadow: 1px 1px 1px 0px rgba(0, 0, 0, 0.45);
  }

  &:disabled {
    background-color: var(--gray);
    cursor: not-allowed;
    border: none;

    &:hover,
    &:focus {
      transform: none;
      box-shadow: 1px 2px 3px 0px rgba(0, 0, 0, 0.15);
    }
  }
}
