.form {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 15px;
  padding: 0 10px;
}

.info {
  margin-top: 25px;
  display: flex;
  align-items: center;
  gap: 15px;
}

.container {
  margin: auto 0;
}

.buttonContainer {
  margin-top: 20px;
}
